.flex-container {
    background-color: rgb(45, 44, 42);
    display: flex;
    padding: 3px;
    height: 300px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex-item {
    display: flex;
    background-color: rgb(147, 145, 145);
    height: 100px;
    width: 100px;
    margin: 3px;
    box-shadow: 0px 0px 80px 40px violet;
}

.flex-item-2 {
    background-color: rgb(210, 71, 71);
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 30px 10px rgb(236, 236, 236);
}

.flex-item-3 {
    background-color: rgb(210, 71, 71);
    height: 20px;
    width: 20px;
    margin: 10px;
    box-shadow: 0px 0px 30px 10px rgb(236, 236, 236);
}

.position2 {
    justify-content: flex-end;
}

.position3 {
    justify-content: flex-end;
    align-items: flex-end;
}

.position4 {
    align-items: flex-end;
}

.position5 {
    justify-content: center;
    align-items: center;
}

.position6 {
    justify-content: center;
    align-items: flex-end;
}

.position7 {
    justify-content: center;
    align-items: flex-end;
}


.position8 {
    justify-content: flex-end;
}